<div class="row">
  <div class="span8">
    <% if @users.any? %>
      <table class="users">
        <%= render partial: 'user_brief', collection: @users, as: :user %>
      </table>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
